# Binaries
limits_ui
mchbar_read
mchbar_pl_write
limits_helper

# Build outputs
qt_ui/build/
build/

# cache
.cache/

# Object files
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# Editor/OS
*.swp
.DS_Store
.vscode/
compile_commands.json
